main{
    margin-right: 17%;
    margin-left: 17%;
}

nav{
    margin-left: 70%;
}
a.navbar-brand{
margin-left: 2%;
margin-top: 1px;
color: black;
}

.SignInBtn{
    margin-left: 85%;
}

.supForm{
    margin-bottom: 25%;
}
img{

    border-radius: 17%;
}
.img{
    height:200px;
    width:300px;
}

